<!DOCTYPE html>
{% load crispy_forms_tags %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="container mt-4">

        <div class="row">
            <div class="col-lg-5 border rounded p-4">
                <form action="#" id='employeeForm'>
                    <h1>Employee Form</h1>
                    {% csrf_token %}
                    {{employeeForm|crispy }}
                    <input class="btn btn-info" type="submit" value="Save Employee">

                </form>
            </div>
            <div class="col-7">
                <table class="table" id='employeeTable'>
                    <thead>
                        <tr>
                            <th>Sno</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Gender</th>
                            <th>Office</th>
                            <th>Active</th>
                        </tr>
                    </thead>
                    <tbody id='employeeTableBodyId'>

                    </tbody>
                </table>
            </div>
        </div>



    </div>
</body>


<script>
    var employeeList = []
    var csrfmiddlewaretoken = "{{csrf_token}}"
    $(document).ready(function () {
        $("#employeeForm").submit(onEmployeeFormSubmission)

        getAllEmployees()
    })


    function getAllEmployees() {
        console.log("getting data from server....")
        $.ajax({
            method: "GET",
            url: "/employees"
        })
            .done(
                function (response) {
                    employeeList = JSON.parse(response)
                    employeeList = employeeList.map(e => {
                        const employee = {
                            ...e.fields,
                            id: e.pk
                        }

                        return employee

                    })
                    renderEmployeeTable()
                }
            )
    }


    function renderEmployeeTable() {
        console.log("Rendring Table Employee", employeeList)

        let tableBody = document.getElementById("employeeTableBodyId")
        tableBody.remove()

        let newBody = document.createElement("tbody");
        newBody.id = "employeeTableBodyId"
        document.getElementById("employeeTable").append(newBody)



        employeeList.forEach(
            function (employee, index) {

                const row = newBody.insertRow()
                const count = document.createElement("TD")
                count.innerHTML = index + 1
                const name = document.createElement("TD")
                name.innerHTML = employee.first_name
                const email = document.createElement("TD")
                email.innerHTML = employee.email
                const gender = document.createElement("TD")
                gender.innerHTML = (employee.gender == "M") ? "Male" : "Female"
                const office = document.createElement("TD")
                office.innerHTML = employee.office.name

                const activeCol = document.createElement("TD")
                const check = document.createElement('input')
                check.type = 'checkbox'
                if (employee.active) {
                    check.checked = "checked"
                }
                activeCol.appendChild(check)

                check.onchange = function () {
                    employee.active = check.checked
                    console.log(employee)
                    const body = {
                        ...employee,
                        office: employee.office.id,
                        csrfmiddlewaretoken
                    }
                    const csrftoken = getCookie('csrftoken');
                    console.log({ body })
                    $.ajax({
                        headers: {
                            'X-CSRFToken': csrftoken
                        },
                        method: "PUT",
                        url: "/employee",
                        data: JSON.stringify(body)
                    })
                        .done(function (response) {
                            console.log(response)

                        })
                        .fail(function (response) {
                            console.log(response)
                        })
                }


                row.appendChild(count)
                row.appendChild(name)
                row.appendChild(email)
                row.appendChild(gender)
                row.appendChild(office)
                row.appendChild(activeCol)
            }
        )
    }



    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }



    function onEmployeeFormSubmission(event) {
        //1. read data of form 
        event.preventDefault()

        const employeeFormValueArray = $(this).serializeArray()
        const body = {}
        employeeFormValueArray.forEach(element => {
            body[element.name] = element.value
        })

        console.log({ body })

        $.ajax({
            method: "POST",
            url: "/employee",
            data: body
        })
            .done(function (response) {
                console.log(response)
                event.target.reset()
                employeeList.push(response)
                renderEmployeeTable()
            })
            .fail(function (response) {
                console.log(response)
            })
        // 2. send data to server using ajax 
    }

</script>

</html>