{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous"></script>
</head>

<body>

    <div class="container mt-4">

        <div class="">
            <div class="col-lg-5 border rounded p-4 m-4">
                <form action="#" id='officeForm'>
                    <h1>Office Form</h1>
                    {% csrf_token %}
                    {{officeForm|crispy }}
                    <input class="btn btn-success" type="submit" value="Save Office">
                </form>
            </div>
        </div>

        <hr>

        <div>
            <div class="col-lg-5 col-lg-5 border rounded p-4 m-4">
                <form action="#" id='employeeForm'>
                    <h1>Employee Form</h1>
                    {% csrf_token %}
                    {{employeeForm|crispy }}
                    <input class="btn btn-info" type="submit" value="Save Employee">

                </form>
            </div>
        </div>



    </div>
</body>

</html>

<script>
    $(document).ready(function () {

    })

    function onOfficeFormSubmit(event) {
        //1. read data of form 
        event.preventDefault()
        const valuesInArray = $(this).serializeArray()
        // [{name : "email" , value : "em@gmaillcom"} , {name : "email" , value : "em@gmaillcom"} , ]

        const body = {}
        // valuesInArray.forEach(e => {
        //     body[e.name] = e.value
        // })
        valuesInArray.reduce((body, e) => {
            body[e.name] = e.value
            return body
        }, body)

        $.ajax({
            method: "POST",
            url: "/office",
            data: body
        })
            .done(function (response) {
                console.log(response)
                event.target.reset()
                alert("Office Saved")
            })
            .fail(function (response) {
                console.log(response)
            })


        // 2. send data to server using ajax 
    }
    function onEmployeeFormSubmission(event) {
        //1. read data of form 
        event.preventDefault()

        const employeeFormValueArray = $(this).serializeArray()
        const body = {}
        employeeFormValueArray.forEach(element => {
            body[element.name] = element.value
        })

        console.log({ body })

        $.ajax({
            method: "POST",
            url: "/employee",
            data: body
        })
            .done(function (response) {
                console.log(response)
                event.target.reset()
                alert("Employee Saved")
            })
            .fail(function (response) {
                console.log(response)
            })
        // 2. send data to server using ajax 
    }

    $("#officeForm").submit(onOfficeFormSubmit)
    $("#employeeForm").submit(onEmployeeFormSubmission)
</script>